.modal {
  position: fixed;
  z-index: 200;
  text-align: center;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transition: all 0.3s linear;
  transform: translate(-50%, -50%);
  &__content {
    position: relative;
    button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: white;
      background-color: transparent;
      border: none;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.ModalOpen {
  animation: openModal 0.3s linear forwards;
}

.ModalClosed {
  animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes closeModal {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
