@import "../../scss/colors";
.comment-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid $base-color;
  align-items: flex-start;
  &__details {
    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      margin: 1rem 1rem 1rem 0;
    }
    div > * {
      width: auto;
    }
  }
}
