.mar-01 {
  margin: 0 1rem;
}
.mar-10 {
  margin: 1rem 0;
}
.mar-02 {
  margin: 0 2rem;
}
.mar-20 {
  margin: 2rem 0;
}
.mar-11 {
  margin: 1rem;
}
.mar-12 {
  margin: 1rem 2rem;
}
.mar-22 {
  margin: 2rem;
}
.mar-21 {
  margin: 2rem 1rem;
}

.pad-10 {
  padding: 1rem 0;
}
.pad-01 {
  padding: 0 1rem;
}
.pad-20 {
  padding: 2rem 0;
}
.pad-02 {
  padding: 0 2rem;
}
.pad-11 {
  padding: 1rem;
}
.pad-12 {
  padding: 1rem 2rem;
}
.pad-22 {
  padding: 2rem;
}
.pad-21 {
  padding: 2rem 1rem;
}
